ALTER TABLE LGONZALES.GUIA_ELECTRONICA_HEADER
  DROP CONSTRAINT CHECK_FLAG_GENERADO;

ALTER TABLE LGONZALES.GUIA_ELECTRONICA_HEADER ADD (
  CONSTRAINT CHECK_FLAG_GENERADO
  CHECK (FLAG_GENERADO IN (1,0)));
