ALTER TABLE LGONZALES.SGC_SUELDO_PLANILLA
  DROP CONSTRAINT UNQ_EMP_ANIO_MES;

ALTER TABLE LGONZALES.SGC_SUELDO_PLANILLA ADD (
  CONSTRAINT UNQ_EMP_ANIO_MES
  UNIQUE (CODEMPRESA, ANIO_PLANILLA, MES_PLANILLA, CODLOCALIDAD, CODTRABAJADOR));
