ALTER TABLE LGONZALES.TCX_OBJECTS
  DROP CONSTRAINT TCX_TC_OBJ_TEAM_PROJ_FK;


ALTER TABLE LGONZALES.TCX_OBJECTS ADD (
  CONSTRAINT TCX_TC_OBJ_TEAM_PROJ_FK 
  FOREIGN KEY (CONFIG_ID, PROJECT_ID) 
  REFERENCES LGONZALES.TCX_TEAM_PROJECTS (CONFIG_ID, PROJECT_ID));
