ALTER TABLE LGONZALES.DATABASECHANGELOGLOCK
  DROP CONSTRAINT PK_DATABASECHANGELOGLOCK;

ALTER TABLE LGONZALES.DATABASECHANGELOGLOCK ADD (
  CONSTRAINT PK_DATABASECHANGELOGLOCK
  PRIMARY KEY
  (ID));
