ALTER TABLE LGONZALES.TCX_OBJECT_HISTORY
  DROP CONSTRAINT TCX_OBJECT_HIST_PK;

ALTER TABLE LGONZALES.TCX_OBJECT_HISTORY ADD (
  CONSTRAINT TCX_OBJECT_HIST_PK
  PRIMARY KEY
  (CONFIG_ID, PROJECT_ID, OBJECT_ID, TRANSACTION_ID));
