ALTER TABLE LGONZALES.CARGA_VEHICULO_REPARTO
  DROP CONSTRAINT SYS_C0032779;

ALTER TABLE LGONZALES.CARGA_VEHICULO_REPARTO ADD (
  CONSTRAINT SYS_C0032779
  PRIMARY KEY
  (CODEMPRESA, CODSEDE, PLACA));
