ALTER TABLE LGONZALES.TCX_OBJECT_HISTORY
  DROP CONSTRAINT TCX_OBJHIST_OBJ_PROJ_FK;


ALTER TABLE LGONZALES.TCX_OBJECT_HISTORY ADD (
  CONSTRAINT TCX_OBJHIST_OBJ_PROJ_FK 
  FOREIGN KEY (CONFIG_ID, PROJECT_ID, OBJECT_ID) 
  REFERENCES LGONZALES.TCX_OBJECTS (CONFIG_ID, PROJECT_ID, OBJECT_ID));
