ALTER TABLE LGONZALES.GUIA_ELECTRONICA_HEADER
  DROP CONSTRAINT XPK_GUIA_ELEC_HEADER;

ALTER TABLE LGONZALES.GUIA_ELECTRONICA_HEADER ADD (
  CONSTRAINT XPK_GUIA_ELEC_HEADER
  PRIMARY KEY
  (CODEMPRESA, CODSEDE, CODALMACEN, SERIE, CORRELATIVO));
