ALTER TABLE LGONZALES.TCX_TEAM_PROJECTS
  DROP CONSTRAINT TCX_TEAM_PROJECTS_PK;

ALTER TABLE LGONZALES.TCX_TEAM_PROJECTS ADD (
  CONSTRAINT TCX_TEAM_PROJECTS_PK
  PRIMARY KEY
  (CONFIG_ID, PROJECT_ID));
