ALTER TABLE LGONZALES.GUIA_ELECTRONICA_HEADER
  DROP CONSTRAINT CHECK_STATUS_INTERNO;

ALTER TABLE LGONZALES.GUIA_ELECTRONICA_HEADER ADD (
  CONSTRAINT CHECK_STATUS_INTERNO
  CHECK (STATUS_INTERNO IN ('G','R')));
